<a href="https://colab.research.google.com/github/alepalacio/pandas-basics/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [93]:
import pandas as pd
import matplotlib.pyplot as plt

In [94]:
df = pd.read_csv('sample_data/puertas_4781.csv')
df

,WKT,id_pue,id_par,id_manz,id_sec,id_barrio,num_puerta,calle,tipo,normativa,estado,parcela,manzana,sector,barrio
0,POINT (-58.3787509420907 -34.5846503002789),1,5028,140,6,34,579B,ALPACA,D,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica
1,POINT (-58.3787464767666 -34.5846654801403),2,5028,140,6,34,579,ALPACA,B,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica
2,POINT (-58.3883147853785 -34.5793030035685),3,5369,68,2,34,2184,VICUÑA,A,NaN,NaN,111,14A,CO - Cristo Obrero,Barrio 31 Mugica
3,POINT (-58.3882449931035 -34.5793300714982),4,5435,68,2,34,2166,VICUÑA,A,NaN,NaN,112,14A,CO - Cristo Obrero,Barrio 31 Mugica
4,POINT (-58.3881677927403 -34.5793801918483),5,5436,68,2,34,2138,VICUÑA,A,NaN,NaN,113,14A,CO - Cristo Obrero,Barrio 31 Mugica
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1030,POINT (-58.3795368093238 -34.5842442239876),1031,8852,140,6,34,649,ALPACA,B,NaN,NaN,48,2,PE - Playón Este,Barrio 31 Mugica
1031,POINT (-58.379496260661 -34.5842777370231),1032,8853,140,6,34,643,ALPACA,B,NaN,NaN,47,2,PE - Playón Este,Barrio 31 Mugica
1032,POINT (-58.3809404470098 -34.5836945674453),1033,8999,170,3,34,752,ALPACA,B,NaN,NaN,49,G1,PO - Playón Oeste,Barrio 31 Mugica
1033,POINT (-58.3878887866479 -34.5799667295113),1034,9273,72,2,34,2048,Arequipa,A,NaN,NaN,26,13A,CO - Cristo Obrero,Barrio 31 Mugica
1034,POINT (-58.3855789860029 -34.5807658218725),1035,6558,96,2,34,1590,VICUÑA,O,NaN,NaN,82,11,CO - Cristo Obrero,Barrio 31 Mugica

In [95]:
df.head()
df.tail()
df["barrio"]
df[["barrio","parcela"]]
df[["barrio","parcela"]].head()

             barrio parcela
0  Barrio 31 Mugica      25
1  Barrio 31 Mugica      25
2  Barrio 31 Mugica     111
3  Barrio 31 Mugica     112
4  Barrio 31 Mugica     113

In [96]:
df[df.barrio == 'Barrio 31 Mugica']

,WKT,id_pue,id_par,id_manz,id_sec,id_barrio,num_puerta,calle,tipo,normativa,estado,parcela,manzana,sector,barrio
0,POINT (-58.3787509420907 -34.5846503002789),1,5028,140,6,34,579B,ALPACA,D,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica
1,POINT (-58.3787464767666 -34.5846654801403),2,5028,140,6,34,579,ALPACA,B,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica
2,POINT (-58.3883147853785 -34.5793030035685),3,5369,68,2,34,2184,VICUÑA,A,NaN,NaN,111,14A,CO - Cristo Obrero,Barrio 31 Mugica
3,POINT (-58.3882449931035 -34.5793300714982),4,5435,68,2,34,2166,VICUÑA,A,NaN,NaN,112,14A,CO - Cristo Obrero,Barrio 31 Mugica
4,POINT (-58.3881677927403 -34.5793801918483),5,5436,68,2,34,2138,VICUÑA,A,NaN,NaN,113,14A,CO - Cristo Obrero,Barrio 31 Mugica
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1030,POINT (-58.3795368093238 -34.5842442239876),1031,8852,140,6,34,649,ALPACA,B,NaN,NaN,48,2,PE - Playón Este,Barrio 31 Mugica
1031,POINT (-58.379496260661 -34.5842777370231),1032,8853,140,6,34,643,ALPACA,B,NaN,NaN,47,2,PE - Playón Este,Barrio 31 Mugica
1032,POINT (-58.3809404470098 -34.5836945674453),1033,8999,170,3,34,752,ALPACA,B,NaN,NaN,49,G1,PO - Playón Oeste,Barrio 31 Mugica
1033,POINT (-58.3878887866479 -34.5799667295113),1034,9273,72,2,34,2048,Arequipa,A,NaN,NaN,26,13A,CO - Cristo Obrero,Barrio 31 Mugica
1034,POINT (-58.3855789860029 -34.5807658218725),1035,6558,96,2,34,1590,VICUÑA,O,NaN,NaN,82,11,CO - Cristo Obrero,Barrio 31 Mugica

In [97]:
df[df.id_pue < 10]

,WKT,id_pue,id_par,id_manz,id_sec,id_barrio,num_puerta,calle,tipo,normativa,estado,parcela,manzana,sector,barrio
0,POINT (-58.3787509420907 -34.5846503002789),1,5028,140,6,34,579B,ALPACA,D,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica
1,POINT (-58.3787464767666 -34.5846654801403),2,5028,140,6,34,579,ALPACA,B,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica
2,POINT (-58.3883147853785 -34.5793030035685),3,5369,68,2,34,2184,VICUÑA,A,NaN,NaN,111,14A,CO - Cristo Obrero,Barrio 31 Mugica
3,POINT (-58.3882449931035 -34.5793300714982),4,5435,68,2,34,2166,VICUÑA,A,NaN,NaN,112,14A,CO - Cristo Obrero,Barrio 31 Mugica
4,POINT (-58.3881677927403 -34.5793801918483),5,5436,68,2,34,2138,VICUÑA,A,NaN,NaN,113,14A,CO - Cristo Obrero,Barrio 31 Mugica
5,POINT (-58.3881302554016 -34.5794061215789),6,5437,68,2,34,2124,VICUÑA,A,NaN,NaN,114,14A,CO - Cristo Obrero,Barrio 31 Mugica
6,POINT (-58.3880139995159 -34.5794742099535),7,5438,68,2,34,2094,VICUÑA,A,NaN,NaN,116,14A,CO - Cristo Obrero,Barrio 31 Mugica
7,POINT (-58.387992667942 -34.5794804525346),8,5438,68,2,34,2092,VICUÑA,A,NaN,NaN,116,14A,CO - Cristo Obrero,Barrio 31 Mugica
8,POINT (-58.3879537743938 -34.579511572104),9,5439,68,2,34,2086,VICUÑA,A,NaN,NaN,118,14A,CO - Cristo Obrero,Barrio 31 Mugica

In [98]:
df[df["id_pue"] > 90]

,WKT,id_pue,id_par,id_manz,id_sec,id_barrio,num_puerta,calle,tipo,normativa,estado,parcela,manzana,sector,barrio
90,POINT (-58.3844564932248 -34.5819641141277),91,5721,76,1,34,1332,ALPACA,C,NaN,NaN,54,8,FE - Ferroviario,Barrio 31 Mugica
91,POINT (-58.3844726491442 -34.5819557376153),92,5721,76,1,34,1336,ALPACA,NaN,NaN,NaN,54,8,FE - Ferroviario,Barrio 31 Mugica
92,POINT (-58.3844061880797 -34.581995855668),93,5722,76,1,34,1324,ALPACA,NaN,NaN,NaN,55,8,FE - Ferroviario,Barrio 31 Mugica
93,POINT (-58.3844898053954 -34.5819256385714),94,5723,76,1,34,1340,ALPACA,NaN,NaN,NaN,53,8,FE - Ferroviario,Barrio 31 Mugica
94,POINT (-58.3845132872825 -34.5819132851845),95,5724,76,1,34,1344,ALPACA,NaN,NaN,NaN,52,8,FE - Ferroviario,Barrio 31 Mugica
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1030,POINT (-58.3795368093238 -34.5842442239876),1031,8852,140,6,34,649,ALPACA,B,NaN,NaN,48,2,PE - Playón Este,Barrio 31 Mugica
1031,POINT (-58.379496260661 -34.5842777370231),1032,8853,140,6,34,643,ALPACA,B,NaN,NaN,47,2,PE - Playón Este,Barrio 31 Mugica
1032,POINT (-58.3809404470098 -34.5836945674453),1033,8999,170,3,34,752,ALPACA,B,NaN,NaN,49,G1,PO - Playón Oeste,Barrio 31 Mugica
1033,POINT (-58.3878887866479 -34.5799667295113),1034,9273,72,2,34,2048,Arequipa,A,NaN,NaN,26,13A,CO - Cristo Obrero,Barrio 31 Mugica
1034,POINT (-58.3855789860029 -34.5807658218725),1035,6558,96,2,34,1590,VICUÑA,O,NaN,NaN,82,11,CO - Cristo Obrero,Barrio 31 Mugica

# FILTROS

In [99]:
df[(df["id_pue"] < 10) & (df["barrio"] == 'Barrio 31 Mugica')]

,WKT,id_pue,id_par,id_manz,id_sec,id_barrio,num_puerta,calle,tipo,normativa,estado,parcela,manzana,sector,barrio
0,POINT (-58.3787509420907 -34.5846503002789),1,5028,140,6,34,579B,ALPACA,D,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica
1,POINT (-58.3787464767666 -34.5846654801403),2,5028,140,6,34,579,ALPACA,B,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica
2,POINT (-58.3883147853785 -34.5793030035685),3,5369,68,2,34,2184,VICUÑA,A,NaN,NaN,111,14A,CO - Cristo Obrero,Barrio 31 Mugica
3,POINT (-58.3882449931035 -34.5793300714982),4,5435,68,2,34,2166,VICUÑA,A,NaN,NaN,112,14A,CO - Cristo Obrero,Barrio 31 Mugica
4,POINT (-58.3881677927403 -34.5793801918483),5,5436,68,2,34,2138,VICUÑA,A,NaN,NaN,113,14A,CO - Cristo Obrero,Barrio 31 Mugica
5,POINT (-58.3881302554016 -34.5794061215789),6,5437,68,2,34,2124,VICUÑA,A,NaN,NaN,114,14A,CO - Cristo Obrero,Barrio 31 Mugica
6,POINT (-58.3880139995159 -34.5794742099535),7,5438,68,2,34,2094,VICUÑA,A,NaN,NaN,116,14A,CO - Cristo Obrero,Barrio 31 Mugica
7,POINT (-58.387992667942 -34.5794804525346),8,5438,68,2,34,2092,VICUÑA,A,NaN,NaN,116,14A,CO - Cristo Obrero,Barrio 31 Mugica
8,POINT (-58.3879537743938 -34.579511572104),9,5439,68,2,34,2086,VICUÑA,A,NaN,NaN,118,14A,CO - Cristo Obrero,Barrio 31 Mugica

In [100]:
df[(df.id_pue < 10) & (df.barrio != 'Barrio 31 Mugica')]

Empty DataFrame
Columns: [WKT, id_pue, id_par, id_manz, id_sec, id_barrio, num_puerta, calle, tipo, normativa, estado, parcela, manzana, sector, barrio]
Index: []

In [101]:
df[(df.barrio.str.contains('Mugica'))]

,WKT,id_pue,id_par,id_manz,id_sec,id_barrio,num_puerta,calle,tipo,normativa,estado,parcela,manzana,sector,barrio
0,POINT (-58.3787509420907 -34.5846503002789),1,5028,140,6,34,579B,ALPACA,D,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica
1,POINT (-58.3787464767666 -34.5846654801403),2,5028,140,6,34,579,ALPACA,B,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica
2,POINT (-58.3883147853785 -34.5793030035685),3,5369,68,2,34,2184,VICUÑA,A,NaN,NaN,111,14A,CO - Cristo Obrero,Barrio 31 Mugica
3,POINT (-58.3882449931035 -34.5793300714982),4,5435,68,2,34,2166,VICUÑA,A,NaN,NaN,112,14A,CO - Cristo Obrero,Barrio 31 Mugica
4,POINT (-58.3881677927403 -34.5793801918483),5,5436,68,2,34,2138,VICUÑA,A,NaN,NaN,113,14A,CO - Cristo Obrero,Barrio 31 Mugica
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1030,POINT (-58.3795368093238 -34.5842442239876),1031,8852,140,6,34,649,ALPACA,B,NaN,NaN,48,2,PE - Playón Este,Barrio 31 Mugica
1031,POINT (-58.379496260661 -34.5842777370231),1032,8853,140,6,34,643,ALPACA,B,NaN,NaN,47,2,PE - Playón Este,Barrio 31 Mugica
1032,POINT (-58.3809404470098 -34.5836945674453),1033,8999,170,3,34,752,ALPACA,B,NaN,NaN,49,G1,PO - Playón Oeste,Barrio 31 Mugica
1033,POINT (-58.3878887866479 -34.5799667295113),1034,9273,72,2,34,2048,Arequipa,A,NaN,NaN,26,13A,CO - Cristo Obrero,Barrio 31 Mugica
1034,POINT (-58.3855789860029 -34.5807658218725),1035,6558,96,2,34,1590,VICUÑA,O,NaN,NaN,82,11,CO - Cristo Obrero,Barrio 31 Mugica

In [102]:
df[(df.sector.str.startswith('PE'))]

,WKT,id_pue,id_par,id_manz,id_sec,id_barrio,num_puerta,calle,tipo,normativa,estado,parcela,manzana,sector,barrio
0,POINT (-58.3787509420907 -34.5846503002789),1,5028,140,6,34,579B,ALPACA,D,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica
1,POINT (-58.3787464767666 -34.5846654801403),2,5028,140,6,34,579,ALPACA,B,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica
406,POINT (-58.3777601868591 -34.5853103912056),407,7146,108,6,34,494,ALPACA,B,NaN,NaN,3,1,PE - Playón Este,Barrio 31 Mugica
407,POINT (-58.3776679929233 -34.5853516535811),408,7147,108,6,34,488,ALPACA,B,NaN,NaN,4,1,PE - Playón Este,Barrio 31 Mugica
408,POINT (-58.3776996738395 -34.5853352308547),409,7147,108,6,34,490,ALPACA,B,NaN,NaN,4,1,PE - Playón Este,Barrio 31 Mugica
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1027,POINT (-58.3789579726335 -34.5845293917143),1028,7795,140,6,34,595,ALPACA,A,NaN,NaN,32,2,PE - Playón Este,Barrio 31 Mugica
1028,POINT (-58.3789370416087 -34.584567277472),1029,7796,140,6,34,591B,ALPACA,B,NaN,NaN,31,2,PE - Playón Este,Barrio 31 Mugica
1029,POINT (-58.377295938759 -34.5854465724223),1030,7809,141,6,34,465,ALPACA,B,NaN,NaN,11,1A,PE - Playón Este,Barrio 31 Mugica
1030,POINT (-58.3795368093238 -34.5842442239876),1031,8852,140,6,34,649,ALPACA,B,NaN,NaN,48,2,PE - Playón Este,Barrio 31 Mugica
1031,POINT (-58.379496260661 -34.5842777370231),1032,8853,140,6,34,643,ALPACA,B,NaN,NaN,47,2,PE - Playón Este,Barrio 31 Mugica

In [103]:
df[(~df.sector.str.startswith('PE'))]

,WKT,id_pue,id_par,id_manz,id_sec,id_barrio,num_puerta,calle,tipo,normativa,estado,parcela,manzana,sector,barrio
2,POINT (-58.3883147853785 -34.5793030035685),3,5369,68,2,34,2184,VICUÑA,A,NaN,NaN,111,14A,CO - Cristo Obrero,Barrio 31 Mugica
3,POINT (-58.3882449931035 -34.5793300714982),4,5435,68,2,34,2166,VICUÑA,A,NaN,NaN,112,14A,CO - Cristo Obrero,Barrio 31 Mugica
4,POINT (-58.3881677927403 -34.5793801918483),5,5436,68,2,34,2138,VICUÑA,A,NaN,NaN,113,14A,CO - Cristo Obrero,Barrio 31 Mugica
5,POINT (-58.3881302554016 -34.5794061215789),6,5437,68,2,34,2124,VICUÑA,A,NaN,NaN,114,14A,CO - Cristo Obrero,Barrio 31 Mugica
6,POINT (-58.3880139995159 -34.5794742099535),7,5438,68,2,34,2094,VICUÑA,A,NaN,NaN,116,14A,CO - Cristo Obrero,Barrio 31 Mugica
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1004,POINT (-58.3819811618667 -34.5829701632743),1005,7523,132,3,34,897,ALPACA,A,NaN,NaN,23,3A,PO - Playón Oeste,Barrio 31 Mugica
1005,POINT (-58.3819058454569 -34.5829934745511),1006,7524,132,3,34,885,ALPACA,A,NaN,NaN,22,3A,PO - Playón Oeste,Barrio 31 Mugica
1032,POINT (-58.3809404470098 -34.5836945674453),1033,8999,170,3,34,752,ALPACA,B,NaN,NaN,49,G1,PO - Playón Oeste,Barrio 31 Mugica
1033,POINT (-58.3878887866479 -34.5799667295113),1034,9273,72,2,34,2048,Arequipa,A,NaN,NaN,26,13A,CO - Cristo Obrero,Barrio 31 Mugica
1034,POINT (-58.3855789860029 -34.5807658218725),1035,6558,96,2,34,1590,VICUÑA,O,NaN,NaN,82,11,CO - Cristo Obrero,Barrio 31 Mugica

In [104]:
calles = ["ALPACA","VICUÑA"]
df[df.calle.isin(calles)]

,WKT,id_pue,id_par,id_manz,id_sec,id_barrio,num_puerta,calle,tipo,normativa,estado,parcela,manzana,sector,barrio
0,POINT (-58.3787509420907 -34.5846503002789),1,5028,140,6,34,579B,ALPACA,D,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica
1,POINT (-58.3787464767666 -34.5846654801403),2,5028,140,6,34,579,ALPACA,B,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica
2,POINT (-58.3883147853785 -34.5793030035685),3,5369,68,2,34,2184,VICUÑA,A,NaN,NaN,111,14A,CO - Cristo Obrero,Barrio 31 Mugica
3,POINT (-58.3882449931035 -34.5793300714982),4,5435,68,2,34,2166,VICUÑA,A,NaN,NaN,112,14A,CO - Cristo Obrero,Barrio 31 Mugica
4,POINT (-58.3881677927403 -34.5793801918483),5,5436,68,2,34,2138,VICUÑA,A,NaN,NaN,113,14A,CO - Cristo Obrero,Barrio 31 Mugica
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1029,POINT (-58.377295938759 -34.5854465724223),1030,7809,141,6,34,465,ALPACA,B,NaN,NaN,11,1A,PE - Playón Este,Barrio 31 Mugica
1030,POINT (-58.3795368093238 -34.5842442239876),1031,8852,140,6,34,649,ALPACA,B,NaN,NaN,48,2,PE - Playón Este,Barrio 31 Mugica
1031,POINT (-58.379496260661 -34.5842777370231),1032,8853,140,6,34,643,ALPACA,B,NaN,NaN,47,2,PE - Playón Este,Barrio 31 Mugica
1032,POINT (-58.3809404470098 -34.5836945674453),1033,8999,170,3,34,752,ALPACA,B,NaN,NaN,49,G1,PO - Playón Oeste,Barrio 31 Mugica
1034,POINT (-58.3855789860029 -34.5807658218725),1035,6558,96,2,34,1590,VICUÑA,O,NaN,NaN,82,11,CO - Cristo Obrero,Barrio 31 Mugica

In [105]:
df.iloc[:100]

,WKT,id_pue,id_par,id_manz,id_sec,id_barrio,num_puerta,calle,tipo,normativa,estado,parcela,manzana,sector,barrio
0,POINT (-58.3787509420907 -34.5846503002789),1,5028,140,6,34,579B,ALPACA,D,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica
1,POINT (-58.3787464767666 -34.5846654801403),2,5028,140,6,34,579,ALPACA,B,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica
2,POINT (-58.3883147853785 -34.5793030035685),3,5369,68,2,34,2184,VICUÑA,A,NaN,NaN,111,14A,CO - Cristo Obrero,Barrio 31 Mugica
3,POINT (-58.3882449931035 -34.5793300714982),4,5435,68,2,34,2166,VICUÑA,A,NaN,NaN,112,14A,CO - Cristo Obrero,Barrio 31 Mugica
4,POINT (-58.3881677927403 -34.5793801918483),5,5436,68,2,34,2138,VICUÑA,A,NaN,NaN,113,14A,CO - Cristo Obrero,Barrio 31 Mugica
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,POINT (-58.3845688879782 -34.5818807738381),96,5725,76,1,34,1352,ALPACA,NaN,NaN,NaN,51,8,FE - Ferroviario,Barrio 31 Mugica
96,POINT (-58.3846066780707 -34.5818611803753),97,5726,76,1,34,1358,ALPACA,NaN,NaN,NaN,50,8,FE - Ferroviario,Barrio 31 Mugica
97,POINT (-58.3846689915744 -34.5818268838999),98,5728,76,1,34,1370,ALPACA,NaN,NaN,NaN,41,8,FE - Ferroviario,Barrio 31 Mugica
98,POINT (-58.3847200034965 -34.5818004350815),99,5729,76,1,34,1378,ALPACA,NaN,NaN,NaN,40,8,FE - Ferroviario,Barrio 31 Mugica
99,POINT (-58.3846905694844 -34.5818162526583),100,5729,76,1,34,1374,ALPACA,NaN,NaN,NaN,40,8,FE - Ferroviario,Barrio 31 Mugica

In [106]:
df.iloc[100:]

,WKT,id_pue,id_par,id_manz,id_sec,id_barrio,num_puerta,calle,tipo,normativa,estado,parcela,manzana,sector,barrio
100,POINT (-58.3847742653954 -34.5817632107271),101,5730,76,1,34,1388,ALPACA,NaN,NaN,NaN,38,8,FE - Ferroviario,Barrio 31 Mugica
101,POINT (-58.3847565000276 -34.5817743283711),102,5731,76,1,34,1384,ALPACA,NaN,NaN,NaN,39,8,FE - Ferroviario,Barrio 31 Mugica
102,POINT (-58.384791522121 -34.5817548707762),103,5732,76,1,34,1392,ALPACA,NaN,NaN,NaN,37,8,FE - Ferroviario,Barrio 31 Mugica
103,POINT (-58.3848489933359 -34.5817236484459),104,5733,76,1,34,1400,ALPACA,NaN,NaN,NaN,36,8,FE - Ferroviario,Barrio 31 Mugica
104,POINT (-58.3848775425368 -34.5817036906027),105,5734,76,1,34,1406,ALPACA,NaN,NaN,NaN,35,8,FE - Ferroviario,Barrio 31 Mugica
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1030,POINT (-58.3795368093238 -34.5842442239876),1031,8852,140,6,34,649,ALPACA,B,NaN,NaN,48,2,PE - Playón Este,Barrio 31 Mugica
1031,POINT (-58.379496260661 -34.5842777370231),1032,8853,140,6,34,643,ALPACA,B,NaN,NaN,47,2,PE - Playón Este,Barrio 31 Mugica
1032,POINT (-58.3809404470098 -34.5836945674453),1033,8999,170,3,34,752,ALPACA,B,NaN,NaN,49,G1,PO - Playón Oeste,Barrio 31 Mugica
1033,POINT (-58.3878887866479 -34.5799667295113),1034,9273,72,2,34,2048,Arequipa,A,NaN,NaN,26,13A,CO - Cristo Obrero,Barrio 31 Mugica
1034,POINT (-58.3855789860029 -34.5807658218725),1035,6558,96,2,34,1590,VICUÑA,O,NaN,NaN,82,11,CO - Cristo Obrero,Barrio 31 Mugica

In [107]:
df.iloc[1]

WKT           POINT (-58.3787464767666 -34.5846654801403)
id_pue                                                  2
id_par                                               5028
id_manz                                               140
id_sec                                                  6
id_barrio                                              34
num_puerta                                            579
calle                                              ALPACA
tipo                                                    B
normativa                                             NaN
estado                                                NaN
parcela                                                25
manzana                                                 2
sector                                   PE - Playón Este
barrio                                   Barrio 31 Mugica
Name: 1, dtype: object

In [108]:
df.iloc[[1,1000]]

,WKT,id_pue,id_par,id_manz,id_sec,id_barrio,num_puerta,calle,tipo,normativa,estado,parcela,manzana,sector,barrio
1,POINT (-58.3787464767666 -34.5846654801403),2,5028,140,6,34,579,ALPACA,B,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica
1000,POINT (-58.3816867402692 -34.5830946398869),1001,7512,132,3,34,859,ALPACA,A,NaN,NaN,18,3A,PO - Playón Oeste,Barrio 31 Mugica

In [109]:
def editar_barrio(barrio):
  barrio_editado = f"{barrio} editado"
  return barrio_editado

df["barrio_editado"] =df["barrio"].apply(editar_barrio)
df

,WKT,id_pue,id_par,id_manz,id_sec,id_barrio,num_puerta,calle,tipo,normativa,estado,parcela,manzana,sector,barrio,barrio_editado
0,POINT (-58.3787509420907 -34.5846503002789),1,5028,140,6,34,579B,ALPACA,D,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica,Barrio 31 Mugica editado
1,POINT (-58.3787464767666 -34.5846654801403),2,5028,140,6,34,579,ALPACA,B,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica,Barrio 31 Mugica editado
2,POINT (-58.3883147853785 -34.5793030035685),3,5369,68,2,34,2184,VICUÑA,A,NaN,NaN,111,14A,CO - Cristo Obrero,Barrio 31 Mugica,Barrio 31 Mugica editado
3,POINT (-58.3882449931035 -34.5793300714982),4,5435,68,2,34,2166,VICUÑA,A,NaN,NaN,112,14A,CO - Cristo Obrero,Barrio 31 Mugica,Barrio 31 Mugica editado
4,POINT (-58.3881677927403 -34.5793801918483),5,5436,68,2,34,2138,VICUÑA,A,NaN,NaN,113,14A,CO - Cristo Obrero,Barrio 31 Mugica,Barrio 31 Mugica editado
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1030,POINT (-58.3795368093238 -34.5842442239876),1031,8852,140,6,34,649,ALPACA,B,NaN,NaN,48,2,PE - Playón Este,Barrio 31 Mugica,Barrio 31 Mugica editado
1031,POINT (-58.379496260661 -34.5842777370231),1032,8853,140,6,34,643,ALPACA,B,NaN,NaN,47,2,PE - Playón Este,Barrio 31 Mugica,Barrio 31 Mugica editado
1032,POINT (-58.3809404470098 -34.5836945674453),1033,8999,170,3,34,752,ALPACA,B,NaN,NaN,49,G1,PO - Playón Oeste,Barrio 31 Mugica,Barrio 31 Mugica editado
1033,POINT (-58.3878887866479 -34.5799667295113),1034,9273,72,2,34,2048,Arequipa,A,NaN,NaN,26,13A,CO - Cristo Obrero,Barrio 31 Mugica,Barrio 31 Mugica editado
1034,POINT (-58.3855789860029 -34.5807658218725),1035,6558,96,2,34,1590,VICUÑA,O,NaN,NaN,82,11,CO - Cristo Obrero,Barrio 31 Mugica,Barrio 31 Mugica editado

In [110]:
df["barrio_sector"] = f"{df.barrio} - {df.sector}"
df

,WKT,id_pue,id_par,id_manz,id_sec,id_barrio,num_puerta,calle,tipo,normativa,estado,parcela,manzana,sector,barrio,barrio_editado,barrio_sector
0,POINT (-58.3787509420907 -34.5846503002789),1,5028,140,6,34,579B,ALPACA,D,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
1,POINT (-58.3787464767666 -34.5846654801403),2,5028,140,6,34,579,ALPACA,B,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
2,POINT (-58.3883147853785 -34.5793030035685),3,5369,68,2,34,2184,VICUÑA,A,NaN,NaN,111,14A,CO - Cristo Obrero,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
3,POINT (-58.3882449931035 -34.5793300714982),4,5435,68,2,34,2166,VICUÑA,A,NaN,NaN,112,14A,CO - Cristo Obrero,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
4,POINT (-58.3881677927403 -34.5793801918483),5,5436,68,2,34,2138,VICUÑA,A,NaN,NaN,113,14A,CO - Cristo Obrero,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1030,POINT (-58.3795368093238 -34.5842442239876),1031,8852,140,6,34,649,ALPACA,B,NaN,NaN,48,2,PE - Playón Este,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
1031,POINT (-58.379496260661 -34.5842777370231),1032,8853,140,6,34,643,ALPACA,B,NaN,NaN,47,2,PE - Playón Este,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
1032,POINT (-58.3809404470098 -34.5836945674453),1033,8999,170,3,34,752,ALPACA,B,NaN,NaN,49,G1,PO - Playón Oeste,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
1033,POINT (-58.3878887866479 -34.5799667295113),1034,9273,72,2,34,2048,Arequipa,A,NaN,NaN,26,13A,CO - Cristo Obrero,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
1034,POINT (-58.3855789860029 -34.5807658218725),1035,6558,96,2,34,1590,VICUÑA,O,NaN,NaN,82,11,CO - Cristo Obrero,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...

In [111]:
df.drop(["barrio_editado"], axis=1)

,WKT,id_pue,id_par,id_manz,id_sec,id_barrio,num_puerta,calle,tipo,normativa,estado,parcela,manzana,sector,barrio,barrio_sector
0,POINT (-58.3787509420907 -34.5846503002789),1,5028,140,6,34,579B,ALPACA,D,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
1,POINT (-58.3787464767666 -34.5846654801403),2,5028,140,6,34,579,ALPACA,B,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
2,POINT (-58.3883147853785 -34.5793030035685),3,5369,68,2,34,2184,VICUÑA,A,NaN,NaN,111,14A,CO - Cristo Obrero,Barrio 31 Mugica,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
3,POINT (-58.3882449931035 -34.5793300714982),4,5435,68,2,34,2166,VICUÑA,A,NaN,NaN,112,14A,CO - Cristo Obrero,Barrio 31 Mugica,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
4,POINT (-58.3881677927403 -34.5793801918483),5,5436,68,2,34,2138,VICUÑA,A,NaN,NaN,113,14A,CO - Cristo Obrero,Barrio 31 Mugica,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1030,POINT (-58.3795368093238 -34.5842442239876),1031,8852,140,6,34,649,ALPACA,B,NaN,NaN,48,2,PE - Playón Este,Barrio 31 Mugica,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
1031,POINT (-58.379496260661 -34.5842777370231),1032,8853,140,6,34,643,ALPACA,B,NaN,NaN,47,2,PE - Playón Este,Barrio 31 Mugica,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
1032,POINT (-58.3809404470098 -34.5836945674453),1033,8999,170,3,34,752,ALPACA,B,NaN,NaN,49,G1,PO - Playón Oeste,Barrio 31 Mugica,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
1033,POINT (-58.3878887866479 -34.5799667295113),1034,9273,72,2,34,2048,Arequipa,A,NaN,NaN,26,13A,CO - Cristo Obrero,Barrio 31 Mugica,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
1034,POINT (-58.3855789860029 -34.5807658218725),1035,6558,96,2,34,1590,VICUÑA,O,NaN,NaN,82,11,CO - Cristo Obrero,Barrio 31 Mugica,0 Barrio 31 Mugica\n1 Barrio 31 Mu...

In [112]:
df.drop([1,2], axis=0)

,WKT,id_pue,id_par,id_manz,id_sec,id_barrio,num_puerta,calle,tipo,normativa,estado,parcela,manzana,sector,barrio,barrio_editado,barrio_sector
0,POINT (-58.3787509420907 -34.5846503002789),1,5028,140,6,34,579B,ALPACA,D,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
3,POINT (-58.3882449931035 -34.5793300714982),4,5435,68,2,34,2166,VICUÑA,A,NaN,NaN,112,14A,CO - Cristo Obrero,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
4,POINT (-58.3881677927403 -34.5793801918483),5,5436,68,2,34,2138,VICUÑA,A,NaN,NaN,113,14A,CO - Cristo Obrero,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
5,POINT (-58.3881302554016 -34.5794061215789),6,5437,68,2,34,2124,VICUÑA,A,NaN,NaN,114,14A,CO - Cristo Obrero,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
6,POINT (-58.3880139995159 -34.5794742099535),7,5438,68,2,34,2094,VICUÑA,A,NaN,NaN,116,14A,CO - Cristo Obrero,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1030,POINT (-58.3795368093238 -34.5842442239876),1031,8852,140,6,34,649,ALPACA,B,NaN,NaN,48,2,PE - Playón Este,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
1031,POINT (-58.379496260661 -34.5842777370231),1032,8853,140,6,34,643,ALPACA,B,NaN,NaN,47,2,PE - Playón Este,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
1032,POINT (-58.3809404470098 -34.5836945674453),1033,8999,170,3,34,752,ALPACA,B,NaN,NaN,49,G1,PO - Playón Oeste,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
1033,POINT (-58.3878887866479 -34.5799667295113),1034,9273,72,2,34,2048,Arequipa,A,NaN,NaN,26,13A,CO - Cristo Obrero,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
1034,POINT (-58.3855789860029 -34.5807658218725),1035,6558,96,2,34,1590,VICUÑA,O,NaN,NaN,82,11,CO - Cristo Obrero,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...

In [113]:
df.columns
len(df.columns)

17

In [114]:
df.shape

(1035, 17)

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   WKT             1035 non-null   object
 1   id_pue          1035 non-null   int64
 2   id_par          1035 non-null   int64
 3   id_manz         1035 non-null   int64
 4   id_sec          1035 non-null   int64
 5   id_barrio       1035 non-null   int64
 6   num_puerta      1035 non-null   object
 7   calle           1035 non-null   object
 8   tipo            969 non-null    object
 9   normativa       0 non-null      float64
 10  estado          0 non-null      float64
 11  parcela         1035 non-null   object
 12  manzana         1035 non-null   object
 13  sector          1035 non-null   object
 14  barrio          1035 non-null   object
 15  barrio_editado  1035 non-null   object
 16  barrio_sector   1035 non-null   object
dtypes: float64(2), int64(5), object(10)
memory usage: 137.6+ KB

In [116]:
df.describe()

,id_pue,id_par,id_manz,id_sec,id_barrio,normativa,estado
count,1035.000000,1035.000000,1035.000000,1035.000000,1035.0,0.0,0.0
mean,518.000000,6649.555556,100.736232,2.712077,34.0,NaN,NaN
std,298.923067,1159.276843,31.957494,1.641519,0.0,NaN,NaN
min,1.000000,5028.000000,68.000000,1.000000,34.0,NaN,NaN
25%,259.500000,5681.500000,75.000000,2.000000,34.0,NaN,NaN
50%,518.000000,6235.000000,88.000000,2.000000,34.0,NaN,NaN
75%,776.500000,7523.500000,132.000000,3.000000,34.0,NaN,NaN
max,1035.000000,9426.000000,172.000000,8.000000,34.0,NaN,NaN

In [117]:
df[["barrio", "sector"]]

                barrio              sector
0     Barrio 31 Mugica    PE - Playón Este
1     Barrio 31 Mugica    PE - Playón Este
2     Barrio 31 Mugica  CO - Cristo Obrero
3     Barrio 31 Mugica  CO - Cristo Obrero
4     Barrio 31 Mugica  CO - Cristo Obrero
...                ...                 ...
1030  Barrio 31 Mugica    PE - Playón Este
1031  Barrio 31 Mugica    PE - Playón Este
1032  Barrio 31 Mugica   PO - Playón Oeste
1033  Barrio 31 Mugica  CO - Cristo Obrero
1034  Barrio 31 Mugica  CO - Cristo Obrero

[1035 rows x 2 columns]

In [118]:
df.sort_values(by=["barrio"], ascending=[False])

,WKT,id_pue,id_par,id_manz,id_sec,id_barrio,num_puerta,calle,tipo,normativa,estado,parcela,manzana,sector,barrio,barrio_editado,barrio_sector
0,POINT (-58.3787509420907 -34.5846503002789),1,5028,140,6,34,579B,ALPACA,D,NaN,NaN,25,2,PE - Playón Este,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
711,POINT (-58.3895509055787 -34.5787077563297),712,5382,68,2,34,2358,TRINIDAD,A,NaN,NaN,87,14A,CO - Cristo Obrero,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
681,POINT (-58.3784266584777 -34.5848270435266),682,9108,140,6,34,557B,ALPACA,A,NaN,NaN,14,2,PE - Playón Este,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
682,POINT (-58.3784372531211 -34.5848202459516),683,9108,140,6,34,557,ALPACA,A,NaN,NaN,14,2,PE - Playón Este,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
683,POINT (-58.3784628144878 -34.5848168192704),684,9109,140,6,34,559,ALPACA,B,NaN,NaN,15,2,PE - Playón Este,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,POINT (-58.3865873454015 -34.5807345215881),351,6544,96,2,34,1745,ALPACA,C,NaN,NaN,27,11,CO - Cristo Obrero,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
351,POINT (-58.3866702477096 -34.5807194229947),352,6545,96,2,34,1763,ALPACA,C,NaN,NaN,28,11,CO - Cristo Obrero,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
352,POINT (-58.3866544626297 -34.5807227085165),353,6545,96,2,34,1761,ALPACA,A,NaN,NaN,28,11,CO - Cristo Obrero,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
353,POINT (-58.3867309151934 -34.5807038231061),354,6546,96,2,34,1779,ALPACA,A,NaN,NaN,29,11,CO - Cristo Obrero,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
1034,POINT (-58.3855789860029 -34.5807658218725),1035,6558,96,2,34,1590,VICUÑA,O,NaN,NaN,82,11,CO - Cristo Obrero,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...

In [125]:
df.groupby(["sector"]).describe()

                   id_pue                                                \
                    count        mean         std    min     25%    50%
sector
CO - Cristo Obrero  501.0  609.996008  281.618891    3.0  337.00  730.0
FE - Ferroviario    171.0  109.000000   49.507575   24.0   66.50  109.0
GU - Guemes           3.0  590.000000    1.000000  589.0  589.50  590.0
PE - Playón Este    171.0  653.181287  189.078997    1.0  557.50  640.0
PO - Playón Oeste   185.0  523.248649  235.468665  195.0  450.00  496.0
SM - San Martín       4.0  404.500000    1.290994  403.0  403.75  404.5

                                   id_par               ... normativa      \
                       75%     max  count         mean  ...       75% max
sector                                                  ...
CO - Cristo Obrero  855.00  1035.0  501.0  6093.920160  ...       NaN NaN
FE - Ferroviario    151.50   194.0  171.0  5767.625731  ...       NaN NaN
GU - Guemes         590.50   591.0    3.0  8827.000000  ...       NaN NaN
PE - Playón Este    682.50  1032.0  171.0  8292.590643  ...       NaN NaN
PO - Playón Oeste   598.00  1033.0  185.0  7411.848649  ...       NaN NaN
SM - San Martín     405.25   406.0    4.0  6816.500000  ...       NaN NaN

                   estado
                    count mean std min 25% 50% 75% max
sector
CO - Cristo Obrero    0.0  NaN NaN NaN NaN NaN NaN NaN
FE - Ferroviario      0.0  NaN NaN NaN NaN NaN NaN NaN
GU - Guemes           0.0  NaN NaN NaN NaN NaN NaN NaN
PE - Playón Este      0.0  NaN NaN NaN NaN NaN NaN NaN
PO - Playón Oeste     0.0  NaN NaN NaN NaN NaN NaN NaN
SM - San Martín       0.0  NaN NaN NaN NaN NaN NaN NaN

[6 rows x 56 columns]

In [120]:
df[df["sector"] == 'FE - Ferroviario']

,WKT,id_pue,id_par,id_manz,id_sec,id_barrio,num_puerta,calle,tipo,normativa,estado,parcela,manzana,sector,barrio,barrio_editado,barrio_sector
23,POINT (-58.3833357279251 -34.5826796244257),24,5603,74,1,34,1212,ALPACA,NaN,NaN,NaN,57,6,FE - Ferroviario,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
24,POINT (-58.3833169389308 -34.5826885066314),25,5603,74,1,34,1210,ALPACA,NaN,NaN,NaN,57,6,FE - Ferroviario,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
25,POINT (-58.3832963684138 -34.582706032824),26,5611,74,1,34,1208,ALPACA,A,NaN,NaN,58,6,FE - Ferroviario,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
26,POINT (-58.3832652442536 -34.5827201932249),27,5611,74,1,34,1206,ALPACA,B,NaN,NaN,58,6,FE - Ferroviario,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
27,POINT (-58.3835191780342 -34.5825880200581),28,5620,74,1,34,1228,ALPACA,NaN,NaN,NaN,53,6,FE - Ferroviario,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,POINT (-58.3847406538393 -34.5812312247586),190,5899,79,1,34,1404,VICUÑA,A,NaN,NaN,61B,7,FE - Ferroviario,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
190,POINT (-58.3848977556938 -34.5814523219056),191,5899,79,1,34,1441,ALPACA,A,NaN,NaN,61B,7,FE - Ferroviario,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
191,POINT (-58.3843730616888 -34.5814434820055),192,5900,79,1,34,1342,VICUÑA,A,NaN,NaN,65B,7,FE - Ferroviario,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
192,POINT (-58.3843574091989 -34.5814519292214),193,5900,79,1,34,1340,VICUÑA,A,NaN,NaN,65B,7,FE - Ferroviario,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...
193,POINT (-58.38422031045 -34.5814943733932),194,5901,79,1,34,1320,VICUÑA,A,NaN,NaN,66B,7,FE - Ferroviario,Barrio 31 Mugica,Barrio 31 Mugica editado,0 Barrio 31 Mugica\n1 Barrio 31 Mu...

In [128]:
df[df["sector"] == 'FE - Ferroviario'].describe()

,id_pue,id_par,id_manz,id_sec,id_barrio,normativa,estado
count,171.000000,171.000000,171.000000,171.0,171.0,0.0,0.0
mean,109.000000,5767.625731,76.929825,1.0,34.0,NaN,NaN
std,49.507575,93.997311,1.998761,0.0,0.0,NaN,NaN
min,24.000000,5603.000000,74.000000,1.0,34.0,NaN,NaN
25%,66.500000,5675.500000,75.000000,1.0,34.0,NaN,NaN
50%,109.000000,5805.000000,78.000000,1.0,34.0,NaN,NaN
75%,151.500000,5854.000000,79.000000,1.0,34.0,NaN,NaN
max,194.000000,5901.000000,79.000000,1.0,34.0,NaN,NaN

In [ ]:
f, ax = plt.subplots(figsize=(16,6))

ax.bar(
    x = df.barrio,
    height = df["id_sec"],
    color = 'red',
)